footer {
  background-color: #6B7621;
  color: #FEF7E0;
  padding: 3rem 2rem 1rem 2rem;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  max-width: 1400px;
  margin: 0 auto;
}

footer .footer-content .footer-grid-1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
  align-items: start;
}

footer .footer-content .footer-grid-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  align-items: start;
}

footer .logo img {
  width: 200px;
  height: auto;
  display: block;
}

footer .info-block {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  line-height: 1.5;
  max-width: 450px;
}

footer .info-block h3 {
  position: relative;
  display: inline-block;
  /* sizes to heading width */
  margin-bottom: 0.6rem;
  color: inherit;
}

footer .info-block h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  /* spacing under the heading */
  width: 50%;
  /* slightly longer than the heading */
  height: 0.15rem;
  background: #F8E39D;
  /* adjust color/opacity to taste */
  border-radius: 2px;
}

footer .footer-content>p {
  font-size: 1rem;
}

@media (max-width: 1080px) {
  footer .footer-content .footer-grid-1-3 {
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }
}

@media (max-width: 700px) {
  footer .footer-content .footer-grid-1-1 {
    gap: 1.4rem;
  }

  footer .info-block h3 {
    margin-bottom: 0.3rem;
  }

  footer .info-block h3::after {
    width: 45%;
    bottom: -0.1rem;
  }
}

@media (max-width: 660px) {
  footer .footer-content .footer-grid-1-3 {
    grid-template-columns: 1fr;
  }

  footer .footer-content .footer-grid-1-1 {
    grid-template-columns: 1fr;
  }

  footer .logo {
    justify-items: center;
  }

  footer .footer-content>p {
    font-size: 0.9rem;
  }
}