body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #283618;
  background: #FEFAE0;
}

header {
  background: #606c38;
  color: #FEFAE0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 2px 12px rgba(0,0,0,0.25);
  backdrop-filter: blur(4px);
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__link {
  color: #DDA15E;
  text-decoration: none;
  padding: 0.25rem 0.25rem;
  transition: color 0.15s ease;
}
.nav__link:hover {
  color: #FEFAE0;
}
.nav__link--active {
  color: #FEFAE0;
  border-bottom: 2px solid currentColor;
}

.hero {
  text-align: center;
  padding: 5rem 1rem;
  background: url('/images/hero.jpg') center/cover no-repeat;
  position: relative;
  color: #FEFAE0;
  height: 75vh;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
}

.hero h1,
.hero p,
.hero .btn {
  position: relative;
  z-index: 1;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #BC6C25;
  color: #FEFAE0;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgba(254, 250, 224, 0.2);
}

.about {
  text-align: center;
  padding: 4rem 1rem;
  height: 100vh;
}
