* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0.04rem;
  color: #283618;
  background: #FEF7E0;
}

/* Component styles */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.4s ease;
  width: fit-content;
}

.primary-btn {
  background: #E5530F;
  color: #FEF7E0;
  border: 2px solid #FD7536;
}

.primary-btn:hover {
  background-color: #CD490B;
  border: 2px solid #F96520;
}

.secondary-btn {
  color: #2F3D1F;
  border: 2px solid #F96520;
}

.secondary-btn:hover {
  background-color: #F96520;
  color: #FEF7E0;
  border: 2px solid #CD490B;
}

/* Hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background: url('/images/hero.jpg') center/cover no-repeat;
  position: relative;
  text-align: center;
  color: #FEF7E0;
  min-height: 95vh;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.hero .hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  max-width: 1400px;
  margin: 0 auto;
}

.hero h1 {
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: -2rem;
}

.hero h2 {
  font-weight: normal;
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.25rem;
  max-width: 70ch;
}

.hero .button-row {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* About section */

.about {
  padding: 8rem 2rem;
}

.about .about-content {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 6rem;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1400px;
  margin: 0 auto;
}

/* 2 column layout with image */

.col-content {
  min-width: 100px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.col-img {
  height: 400px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  border-radius: 8px;
}

.col-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Chef's Special section */

.chefs-special {
  background: #383F0D;
  padding: 8rem 2rem;
}

.chefs-special .chefs-special-content {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 6rem;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1400px;
  margin: 0 auto;
}

.chefs-special .col-content {
  color: #FEF7E0;
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  .hero h1 {
    font-size: 4.5rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .about .about-content, .chefs-special .chefs-special-content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .col-img {
    order: -1;
    height: 400px;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.6rem;
  }

  .hero {
    padding: 4rem 0.75rem;
  }
}