<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Deccan House" }}</title>
  <link rel="icon" href="{{ '/images/favcicon/Favcicon88x88.png' | url }}">
  <link rel="icon" type="image/png" sizes="132x132" href="{{ '/images/favcicon/Favcicon132x132.png' | url }}">
  <link rel="icon" type="image/png" sizes="175x175" href="{{ '/images/favcicon/Favcicon175x175.png' | url }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/about.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/menu.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/header.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/footer.css' | url }}">
</head>
<body>
  {% include "partials/header.njk" %}
  <div id="navOverlay" class="nav-overlay"></div>
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}

  <script src="{{ '/js/header.js' | url }}"></script>

  {% if page.fileSlug == "" %}
    <script src="{{ '/js/carousal.js' | url }}"></script>
  {% endif %}

  {% if page.fileSlug == "menu" %}
    <script src="{{ '/js/menu.js' | url }}"></script>
  {% endif %}
</body>
</html>
