---
layout: layout.njk
title: About Us
---
<section class="title">
  <div class="content">
    <h1>
      <span>Deccan House</span>
      About Us
    </h1>
    <img src="/images/about/spices-and-herbs.PNG">
  </div>
</section>

<section class="about-story">
  <div class="about-story-content">
    <h2>A Slice of Hyderabad in Toronto!</h2>
    <p>
      Step into a world where tradition meets flavor, 
      and every bite tells a story. At Deccan House, 
      we bring the rich culinary heritage of Hyderabad straight to your plate. 
      From the smoky aromas of the famous Dum Biryani to the irresistible 
      sweetness of Qubani ka Meetha, our menu celebrates the timeless recipes 
      that have been passed down through generations.
    </p>
  </div>
  <img src="/images/about/coriander-leaves.PNG" class="coriander-img">
  <img src="/images/about/chili-peppers.PNG" class="chilli-img">
</section>
