---
layout: layout.njk
title: Home
---
<section class="hero" style="background: url('{{ '/images/hero.jpg' | url }}') center/cover no-repeat;">
  <div class="hero-content">
    <h1>DECCAN HOUSE</h1>
    <h2>Now serving in Toronto!</h2>
    <p>Authentic Hyderabadi Cuisine, Redefined.<br>
      Experience the perfect blend of royal flavors and contemporary flair.</p>
    <div class="button-row">
      <a href="" class="btn primary-btn">Order Online</a>
      <a href="/menu/" class="btn primary-btn">View Menu</a>
    </div>
  </div>
</section>

<section class="about">
  <div class="about-content">
    <div class="col-content">
      <h2>A Slice of Hyderabad <br> Where Tradition Meets Taste</h2>
      <p>At Deccan House, every dish carries the soul of Hyderabad — from the aromatic Dum Biryani to the velvety Qubani ka Meetha.  
        Our chefs craft each meal with timeless recipes, balancing age-old flavors with a modern dining experience.  </p>
      <a href="/about/" class="btn secondary-btn">Explore Our Story</a>
    </div>
    <div class="col-img">
      <img src="{{ '/images/MalaiChickenKebab.jpg' | url }}">
    </div>
  </div>
</section>

<section class="chefs-special">
  <div class="chefs-special-content">
    <div class="col-img">
      <img src="{{ '/images/SpecialChickenDumBiryani.jpg' | url }}">
    </div>
    <div class="col-content">
      <h2>Chef's Special:</h2>
      <p>Lorem ipsum chicken biryani sit amir wit raita and chutney.</p>
    </div>
  </div>
</section>

<section class="menu-carousal">
  <div class="carousal-track">
    <span>Chicken Biryani</span>
    <img src="{{ '/images/icons/food-dish-hand-serve-icon.svg' | url }}" class="carousal-icon">
    
    <span>Dosa</span>
    <img src="{{ '/images/icons/Fork-n-spoon-icon.svg' | url }}" class="carousal-icon">
    
    <span>Idli</span>
    <img src="{{ '/images/icons/food-dish-hand-serve-icon.svg' | url }}" class="carousal-icon">

    <span>Chicken 65</span>
    <img src="{{ '/images/icons/Fork-n-spoon-icon.svg' | url }}" class="carousal-icon">

    <span>Butter Chicken</span>
    <img src="{{ '/images/icons/food-dish-hand-serve-icon.svg' | url }}" class="carousal-icon">

    <span>Curry Puff</span>
    <img src="{{ '/images/icons/Fork-n-spoon-icon.svg' | url }}" class="carousal-icon">
</section>

<section class="food-images">
  <div class="food-images-content">
    <img src="{{ '/images/food/EggFriedBiryani.jpg' | url }}">
    <img src="{{ '/images/food/ChaiMalaiBunCombo.jpg' | url }}">
    <img src="{{ '/images/food/ButterChicken.jpg' | url }}">
    <img src="{{ '/images/food/Idly.jpg' | url }}">
    <img src="{{ '/images/food/Chicken65.jpg' | url }}">
    <img src="{{ '/images/food/Dosa.jpg' | url }}">
  </div>
</section>
