---
layout: layout.njk
title: Home
---
<section class="hero">
  <h1>DECCAN HOUSE</h1>
  <p>A slice of Hyderabad in Toronto!</p>
  <a href="/menu/" class="btn">Order Online</a>
</section>

<section class="about">
  <h2>Contemporary Indian Cuisine</h2>
  <p>A slice of Hyderabad in Toronto!</p>
  <a href="/menu/" class="btn">Order Online</a>
</section>
