---
layout: layout.njk
title: Menu
---
<section>
  <h2>Deccan House Menu</h2>
  <div>
    <a href="#" class="btn">Breakfast</a>
    <a href="#" class="btn">Lunch</a>
    <a href="#" class="btn">Dinner</a>
  </div>
</section>
