---
layout: layout.njk
title: Menu
---
<section>
  <h2>Deccan House Menu</h2>
  {% for item in menu %}
  <div class="menu-item">
    <h3>{{ item.name }}</h3>
    <p>Category: {{ item.category }}</p>
    <p>${{ item.price }}</p>
    <p>{{ item.description }}</p>

    {% if item.image %}
      <img src="{{ item.image }}" alt="{{ item.name }}">
    {% endif %}
  </div>
{% endfor %}
</section>
