<footer>
  <div class="footer-content">
    <div class="footer-grid">
      <div class="logo">
        <img src="/images/Logo.png">
      </div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit.</div>
      
      <div class="info-block">
        <h3>Contact</h3>
        <p>
          deccanhousecanada@gmail.com <br>
          +1(416)297-5252
        </p>
      </div>
      
      <div class="info-block">
        <h3>Address</h3>
        <p>
          19 Lapsley Rd, Scarborough, ON. M1B 1N1
        </p>
      </div>

      <div class="info-block">
        <h3>Open Hours</h3>
        <p>
          Monday - Sunday 11:00 AM - 10:00 PM
        </p>
      </div>
    </div>
    <p>&copy; 2025 Deccan House. All rights reserved.</p>
  </div>
</footer>
