<footer>
  <div class="footer-content">
    <div class="footer-grid-1-3">
      <div class="logo">
        <img src="{{ '/images/Logo.png' | url }}">
      </div>

      <div class="footer-grid-1-1">
        <div class="info-block">Deccan House brings the rich, royal flavours of Hyderabad to Toronto — from slow-cooked dum biryanis to hand-pressed kebabs and homestyle desserts.</div>
        
        <div class="info-block">
          <h3>Contact</h3>
          <p>
            deccanhousecanada@gmail.com <br>
            +1(416)297-5252
          </p>
        </div>
        
        <div class="info-block">
          <h3>Address</h3>
          <p>
            19 Lapsley Rd, Scarborough, ON. M1B 1N1
          </p>
        </div>

        <div class="info-block">
          <h3>Open Hours</h3>
          <p>
            Monday - Sunday <span style="color:#ECC853; font-size:1.08rem; font-weight:bold;">12:00 PM - 12:00 AM</span>
          </p>
        </div>
      </div>
    </div>
    <p>&copy; 2025 Deccan House. All rights reserved.</p>
  </div>
</footer>
