<header>
  <h1>Deccan House</h1>
  <nav>
    <a href="/" {% if page.url == "/" %}class="nav__link nav__link--active"{% else %}class="nav__link"{% endif %}>Home</a>
    <a href="/about/" {% if page.url == "/about/" %}class="nav__link nav__link--active"{% else %}class="nav__link"{% endif %}>About</a>
    <a href="/menu/" {% if page.url == "/menu/" %}class="nav__link nav__link--active"{% else %}class="nav__link"{% endif %}>Menu</a>
    <a href="/menu/" class="btn">Order Online</a>
  </nav>
</header>
